body {
    color: black;
    background-color:white;
    text-align: center;
    user-select: none;
    font-family: 'Arial';
} 

#main {
    position:fixed;
    overflow:scroll;
    overflow-wrap:break-word;
    height: 100%;
    right:50%;
    margin-right:-50%;
    width:100%;
}

.messageSelected {
    font-weight: bold;
}

#text-entry {
    position:fixed;
    bottom:0px;
    height:140px;
    right:50%;
    margin-right:-50%;
    width:100%;
    background: rgba(70, 70, 70, 0.7);
    cursor:pointer;
}
.smalltext {
    font-size:8pt;
}

.entry {
    max-width:90%;
    margin:auto;
}
.mycreation {
    color:black;
}
.entry:hover{
    cursor:pointer;
    font-weight:bold;
}
#message {
    width:70%;
    text-align:center;
    font-size:18pt;
    border-radius:10px;
    border: 1px solid black;
    background:white;
    opacity: 1;
    user-select: none;  
    padding-top:10px;
    padding-bottom:10px;
}

#rank-0 {
    font-size:24pt;
}

#rank-1 {
    font-size:21pt;
}

#rank-2 {
    font-size:18pt;
}

#rank-3 {
    font-size:12pt;
}

#rank-4 {
    font-size:10pt;
}

#rank-low {
    font-size:10pt;
}