<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hivemind" />
    <meta name="twitter:creator" content="@dannydiekroeger" />
    <meta property="og:url" content="https://hive-mind.xyz" />
    <meta property="og:title" content="Experience the Hive Mind" />
    <meta property="og:description" content="Add your thoughts and vote on others. Experience the Hive Mind - the best thoughts rise to the top." />
    <meta property="og:image" content="https://hive-mind.xyz/polymer-24px.png" />
    <link rel="icon" href="polymer-24px.png">
    <script src id="messagesScript"></script>
    <script src id="utilScript"></script>
    <script src id="appScript"></script>
    <script type="text/javascript">
      // Prevent caching
      const messagesPath = 'js/messages.js';
      const utilPath = 'js/message-util.js';
      const appPath = 'js/application.js';
      const version = '?v=' + Date.now();
      document.getElementById('messagesScript').src = messagesPath + version;
      document.getElementById('utilScript').src = utilPath + version;
      document.getElementById('appScript').src = appPath + version;
    </script>
    <script type="application/javascript" defer="defer" src="js/messages.js"></script>
    <script type="application/javascript" defer="defer" src="js/message-util.js"></script>
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>
      Hive Mind
    </title>
  </head>
  <body>
    <main id="main"></main>
    <div id="text-entry">
    <br><br>
    <input id="message" type="text" placeholder="Type something here..." maxlength="200" autocomplete="off">
    </div>
  </body>
</html>