<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1' name='viewport'/>
    <link rel="icon" type="image/svg+xml" href="img/polymer-24px.svg">
    <script type="application/javascript" defer="defer" src="js/messages.js"></script>
    <script type="application/javascript" defer="defer" src="js/message-util.js"></script>
    <script type="application/javascript" defer="defer" src="js/application.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <title>
      Hive Mind
    </title>
  </head>
  <body>
    <main id="main"></main>
    <div id="text-entry">
    <br><br>
    <input id="message" type="text" placeholder="Type something here..." maxlength="200" autocomplete="off">
    </div>
  </body>
</html>